{% extends "sales/base.html" %}
   {% block content %}
   <h1 class="display-1 text-center">API documentation</h1>
          <div class="container" style="width:50%;">               
              <div class="row">
                <div class="col">
                  <div id="row"><h3>URLs</h3></div>
                  <div class="row">/users/</div>
                  <div class="row">/contacts/</div>
                  </div>
                  <div class="col">
                   <div id="row"><h3>RequestTypes</h3></div>
                   <div class="row">GET and POST requests</div>
                   <div class="row">GET and POST requests</div>
                  </div>
              </div>
          </div>
   {% endblock content %}