{% extends "sales/base.html" %}
   {% block content %}
      <h1>Enter Content</h1>
      <section>
      {% csrf_token %}
      <label for="UserName">User Name :</label>
      <textarea name="UserName" id="UserName" cols="20" rows="1"></textarea>
      <label for="UserMail">User Mail :</label>
      <textarea name="UserMail" id="UserMail" cols="20" rows="1"></textarea>
      <label for="UserPosition">User UserPosition :</label>
      <textarea name="UserPosition" id="UserPosition" cols="20" rows="1"></textarea>
      <button id="SubmitUser">Submit User</button>
      </section>      
      <script type = "text/javascript">

document.getElementById('SubmitUser').addEventListener('click',addUser);
function addUser(){
    var userName = document.getElementById('UserName').value;
      var userMail = document.getElementById('UserMail').value;
      var userPosition = document.getElementById('UserPosition').value;

    const csrftoken  = getCookie('csrftoken');
    var data = {id:10 , name:userName, email:userMail, position:userPosition};
    console.log(data);
    //SendPOST(csrftoken,data);
    //GETdata(csrftoken);
    SendPOST(csrftoken,data);
} 
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function SendPOST(token,body){
    fetch('http://127.0.0.1:8000/users/',{
        method:"POST",
        headers:{
            'Accept':'application/json, text/plain, */*',
            'Content-type':'application/json',
            'X-CSRFToken':token
        },
        body:JSON.stringify(body)
    })
    .then((res)=>res.json)
    .then((data)=>console.log(data))
    .catch(err => console.error('Caught error: ', err));       
     }


     function GETdata(token){
    fetch('http://127.0.0.1:8000/users/',{
        method:"GET",
        headers:{
            'Accept':'application/json, text/plain, */*',
            'Content-type':'application/json',
            'X-CSRFToken':token
        }
    })
    .then(response => response.json())
    .then(data => console.log(data));
    return response.json();
     }

     
     
      </script>
   {% endblock content %}