{% extends "sales/base.html" %}
   {% block content %}
   <div class="MainContainer">
    <div id="NavContainer">
    <h2>Nav</h2>
    <a href="/">
        <div class="navElements">Home</div>
    </a>
    <a href="/users/">
        <div class="navElements">API for Users</div>
    </a>
    <a href="/contacts/">
        <div class="navElements">API for Contacts</div>
    </a>

    </div>
   <div id="ContentContainer">
      <h1 class="display-3 text-center">Enter Content</h1>
      <p class="lead text-center">
        This page is for you to add USERS and CONTACTS to the DB
      </p>
      <section>
      {% csrf_token %}
      <div class="container" style="width: 30%;">
          <div class="row">
          <div class="col-sm border">
        <label for="UserName">User Name :</label>
      <div class="row">
      <textarea name="UserName" id="UserName" cols="20" rows="1"></textarea>
      </div>
      <label for="UserMail">User Mail :</label>
      <div class="row">
      <textarea name="UserMail" id="UserMail" cols="20" rows="1"></textarea>
      </div>
      <label for="UserPosition">User UserPosition :</label>
      <div class="row">
      <textarea name="UserPosition" id="UserPosition" cols="20" rows="1"></textarea>
      </div>
      <div class="row">
      <button class="btn btn-outline-primary" id="SubmitUser" style="margin-top: 1em;">Submit User</button>
      </div>
          </div>
          <div class="col-sm border">
            <label for="ContactName">Contact Name :</label>
          <div class="row">
          <textarea name="ContactName" id="ContactName" cols="20" rows="1"></textarea>
          </div>
          <label for="ContactDetails">Contact Details </label>
          <div class="row">
          <textarea name="ContactDetails" id="ContactDetails" cols="20" rows="1"></textarea>
          </div>
          <div class="row">
          <button class="btn btn-outline-primary" id="SubmitContact" style="margin-top: 1em;">Submit Contact</button>
          </div>
              </div>
    </div>
      </div>
    </div>
</div>

      </section>      
      <script type = "text/javascript">

document.getElementById('SubmitUser').addEventListener('click',addUser);
document.getElementById('SubmitContact').addEventListener('click',addContact);

function addUser(){
    var userName = document.getElementById('UserName').value;
      var userMail = document.getElementById('UserMail').value;
      var userPosition = document.getElementById('UserPosition').value;

    const csrftoken  = getCookie('csrftoken');
    var data = {name:userName, email:userMail, position:userPosition};
    console.log(data);
    SendPOSTusers(csrftoken,data);
} 
function addContact(){
      var contactName = document.getElementById('ContactName').value;
      var contactDetails = document.getElementById('ContactDetails').value;

    const csrftoken  = getCookie('csrftoken');
    var data = {name:contactName, contact_details:contactDetails};
    console.log(data);
    //SendPOST(csrftoken,data);
    //GETdata(csrftoken);
    SendPOSTcontacts(csrftoken,data);
} 
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function SendPOSTusers(token,body){
    fetch('http://127.0.0.1:8000/users/',{
        method:"POST",
        headers:{
            'Accept':'application/json, text/plain, */*',
            'Content-type':'application/json',
            'X-CSRFToken':token
        },
        body:JSON.stringify(body)
    })
    .then((res)=>res.json)
    .then((data)=>console.log(data))
    .catch(err => console.error('Caught error: ', err));       
     }
     function SendPOSTcontacts(token,body){
    fetch('http://127.0.0.1:8000/contacts/',{
        method:"POST",
        headers:{
            'Accept':'application/json, text/plain, */*',
            'Content-type':'application/json',
            'X-CSRFToken':token
        },
        body:JSON.stringify(body)
    })
    .then((res)=>res.json)
    .then((data)=>console.log(data))
    .catch(err => console.error('Caught error: ', err));       
     }   
      </script>
   {% endblock content %}