{% extends "sales/base.html" %}
   {% block content %}
      <h1>Enter Content</h1>
      <section>
      <label for="UserName">User Name :</label>
      <textarea name="UserName" id="UserName" cols="20" rows="1"></textarea>
      <label for="UserMail">User Mail :</label>
      <textarea name="UserMail" id="UserMail" cols="20" rows="1"></textarea>
      <label for="UserPosition">User UserPosition :</label>
      <textarea name="UserPosition" id="UserPosition" cols="20" rows="1"></textarea>
      <button id="SubmitUser">Submit User</button>
      </section>
      <script src="main.js"></script>
   {% endblock content %}