{% extends "sales/base.html" %}
   {% block content %}
   <h1 class="display-1 text-center">USERS</h1>
      {% for user in users %}
          <div class="container">  
              <div class="row">
            <div class="col-sm border"><h2>User ID {{ user.id }}</h2></div>  
            <div class="col-sm border">User Name {{ user.name }}</div>
            <div class="col-sm border">User Mail {{ user.email}}</div>
              </div>
          </div>
      {% endfor %}
   {% endblock content %}